<!--The content below is only a placeholder and can be replaced.-->
<section class="todoapp">
  <header class="header">
    <app-title></app-title>
    <input class="new-todo" [placeholder]="inputHint" autofocus  (keyup.enter)="addTodo()" [(ngModel)]="todo">
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main" *ngIf="todos.length > 0">
    <input class="toggle-all" type="checkbox" [(ngModel)]="toggleAll" (ngModelChange)="toggleAllChanged($event)">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <!-- These are here just to show the structure of the list items -->
      <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
      <li *ngFor="let item of todos | filter: filterType" [ngClass]="{'completed': item.done}">
        <div class="view">
          <input class="toggle" type="checkbox" [(ngModel)]="item.done" (ngModelChange) = "updateToggleAllState()">
          <label>{{ item.todo | uppercase }}</label>
          <button class="destroy" (click)="destoryItem(item)"></button>
        </div>
        <input class="edit" value="Rule the web">
      </li>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <app-footer *ngIf="todos.length > 0 " [todos]="todos" (clearCompleted)="clearCompleted()" (filterTypeChanged)="filterTypeChanged($event)"></app-footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <!-- Remove the below line ↓ -->
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">you</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>

